*{
  box-sizing: border-box;
}
html{
  height:100%;
}
body{
  font-family:"Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif;
  margin:0 auto;
  height:100%;
  background-image: url("background_image.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: right bottom
}
li{
  list-style: none;
}
/* wrap */
.wrap{
  overflow:hidden;
}
/* container */
.container{
  width:85%;
  max-width:1600px;
}
/* lording */
#loading{
  position: absolute;
  top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

#loader-bg {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  background: #fff;
  z-index: 11;
}
/* menu */
.menu-wrapper{
  display:flex;
  justify-content:center;
  width:100%;
  height:80px;
  background-color:#fff;
  opacity:0.7;
  position:fixed;
  z-index:10;
}
.menu{
  display:flex;
  justify-content:center;
  align-items:center;
  text-align: center;
}
.menu li{
  display:inline-block;
  margin:0 30px;
  letter-spacing:2px;
  font-family:'Comic Sans MS';
}
.menu span{
  font-size:26px;
  color:#696969;
}
.menu .menuLink{
  text-decoration:none;
  background:linear-gradient(transparent 70%, #99ccff 70%);
  color:#696969;
  font-size:26px;
  cursor:pointer;
}
.menu .menuLink:hover{
  color:#000;
  background:linear-gradient(transparent 70%, #1e90ff 70%);
}
.menu .topLink{
  text-decoration:none;
  background:linear-gradient(transparent 70%, #ffa07a 70%);
  color:#696969;
  font-size:26px;
  cursor:pointer;
}
.menu .topLink:hover{
  color:#000;
  background:linear-gradient(transparent 70%, #fa8072 70%);
}
/* header */
header{
  display:flex;
  justify-content:center;
  align-items:center;
  width:100%;
  height:940px;
  text-align:center;
  font-size:0;
  font-family:'Comic Sans MS';
  letter-spacing:2px;
}
header h1{
  font-size:48px;
  color:#696969;
  margin:0;
  opacity:0.7;
}
header p{
  font-size:30px;
  color:#696969;
  margin:0;
  opacity:0.7;
}
header span{
  color:#000;
}
/* about */
.about-wrapper{
  display:flex;
  justify-content:center;
  align-items: center;
  text-align:center;
  width:100%;
  height:860px;
  margin:0 auto;
  padding-bottom:50px;
  letter-spacing:2px;
}
.about-title{
  display:inline-block;
  font-size:36px;
  font-family:'Comic Sans MS';
  background:linear-gradient(transparent 70%, #99ccff 70%);
}
.about{
  display:flex;
  justify-content:center;
  text-align:center;
  filter: drop-shadow(10px 10px 10px rgba(0,0,0,0.6));
  margin:0 auto;
  padding:50px 50px;
  width:100%;
  height:600px;
}
.gradient {
  background: linear-gradient(225deg, transparent 20px, #e4e4e4 20px);
  background-position: top right;
  background-repeat: no-repeat;
  position: relative;
}
.gradient::before {
  content: '';
  display: block;
  background: linear-gradient(225deg, transparent 20px, #333 20px);
  width: 30px;
  height: 30px;
  position: absolute;
  right: 0px;
  top: 0px;
}
.about-left{
  width:50%;
  height:300px;
  text-align:left;
}
.about-subtitle{
  font-size:26Px;
}
.about-left span{
  color:#ff0000;
  background:linear-gradient(transparent 70%, #f08080 90%);
}
.about-right{
  width:50%;
  height:300px;
  margin-left:60px;
  text-align:left;
}
/* skill */
.skill-wrapper{
  display:flex;
  justify-content:center;
  align-items:center;
  text-align:center;
  width:100%;
  height:860px;
  color:#000;
  letter-spacing:2px;
}
.skill-title{
  display:inline-block;
  font-size:36px;
  font-family:'Comic Sans MS';
  background:linear-gradient(transparent 70%, #99ccff 70%);
}
.skills{
  display:flex;
  justify-content: center;
}
.skill{
  display:inline-block;
  filter: drop-shadow(10px 10px 10px rgba(0,0,0,0.6));
  width:300px;
  height:auto;
  padding:20px;
  margin:0 10px;

}
.skill img{
  width:100px;
}
.skill-language{
  font-family:'Comic Sans MS';
  font-size:14px;
  font-weight:bold;
}
.skill-text{
  display:flex;
  justify-content: center;
  text-align:left;
  padding:10px;
  margin-top:40px;
  font-size:14px;
  width:240px;
  height:auto;
  background-color:#fff;
  filter: drop-shadow(10px 10px 10px rgba(0,0,0,0.6));
  border-radius:10px;
  opacity:0.9;
}
.skill-text span{
  color:#ff0000;
  background:linear-gradient(transparent 70%, #f08080 90%);
}
.accordion .inner {
  display: none;
}
.aroww{
  color:#333;
  cursor: pointer;
}
.site-link{
  display:inline-block;
  width:90%;
  height:auto;
  font-size:20px;
  padding:5px;
  margin-top:150px;
  background-color:rgba(255, 255, 255, 0.8);
  border-radius:40px;
  font-family:'Comic Sans MS';
}
/* contact */
.contact-wrapper{
  display:flex;
  justify-content:center;
  align-items:center;
  width:100%;
  height:780px;
  margin:0 auto;
}
.contact{
  display:flex;
  justify-content:center;
  align-items:center;
  text-align:center;
  filter: drop-shadow(10px 10px 10px rgba(0,0,0,0.6));
  width:80%;
  height:400px;
  margin:0 auto;
}
.contact-title{
  display:inline-block;
  font-size:36px;
  font-family:'Comic Sans MS';
  background:linear-gradient(transparent 70%, #99ccff 70%);
}
.contact_message{
  width:50%;
  text-align:center;
  margin:0 auto;
}
.btn{
  display:inline-block;
  text-decoration:none;
  font-size:30px;
  color:#000;
  margin:10px;
}
/* footer */
footer{
  display:flex;
  justify-content:center;
  align-items:center;
  text-align:center;
  width:100%;
  height:80px;
  background-color:#ffffff;
  font-family:'Comic Sans MS';
  font-weight:bold;
  color:#696969;
  opacity:0.7;
}
